@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    var sessionID = "@ViewBag.SessionID";
</script>

<form id="form" action="/" method="get">
    <div class="row input">
        <textarea id="input" class="span12" rows="3">Tuple.Create(4,20)</textarea>
    </div>

    <div class="row output">
        <textarea id="output" class="span12" rows="3" disabled="disabled"></textarea>
    </div>
</form>