@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    var sessionID = "@ViewBag.SessionID";
</script>

<form id="form" action="/" method="get">
    <input id="input" />

    <input id="output"></input>
</form>